<main class="main" role="main">
  <div class="container">
    <h1>Hello Dev!</h1>

    <ul class="breadcrumb">
      <li class="breadcrumb__item"><%= link_to 'Rails Start', '' %></li>
      <li class="breadcrumb__item"><%= link_to 'Home', '' %></li>
      <li class="breadcrumb__item is-active">Sample</li>
    </ul>

    <p>Home#index - Find me in app/views/home/index.html.erb</p>
  </div>
</main>

<aside class="sidebar" role="complementary">
</aside>
